default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: python
    types: [python]
    stages: [pre-commit]
    additional_dependencies: [ruff==0.4.8]
  - id: lint-check
    name: Linting (ruff)
    entry: ruff check --fix
    language: python
    types: [python]
    stages: [pre-commit]
    additional_dependencies: [ruff==0.4.8]

- repo: https://github.com/gitguardian/ggshield
  rev: v1.42.0
  hooks:
    - id: ggshield
      language_version: python3
      stages: [pre-commit]
