# API Server Configuration
FASTAPI_SERVER_PORT=

# Database Connection
SQL_HOST=
SQL_PORT=
SQL_BASE=
SQL_BASE_USER=
SQL_BASE_PASSWORD=

# Google Cloud Platform & Vertex AI Services
ENV_SHORT_NAME=
GCP_PROJECT=
VERTEX_RETRIEVAL_ENDPOINT_NAME=
VERTEX_RANKING_ENDPOINT_NAME=
VERTEX_GRAPH_ENDPOINT_NAME=

# Redis Cache Configuration
REDIS_CACHE_ENABLED=0
REDIS_URL=redis://localhost:6379/0
REDIS_CACHE_RESET_HOUR=5
CACHE_H3_RESOLUTION=8

# Logging & UI Debugging Tools
LOGS_PRETTY_PRINT=1
ENABLE_TRACKING_LOGS=
SWAGGER_UI_EXAMPLE_USER_ID=

# Infrastructure & SSH Tunneling (Used by the Makefile to bridge the VPC)
GCP_ZONE=
GCP_IAP_BASTION_INSTANCE_NAME=
REMOTE_SQL_GCP_PROJECT=
REMOTE_SQL_HOST=
REMOTE_SQL_PORT=

# Swagger UI Configuration (Used for local development to access the staging environment)
RECOMMENDATION_V1_STAGING_SOCKS_PORT=
RECOMMENDATION_V1_STAGING_CLOUDRUN_URL=

# Secrets Configuration
GCP_SECRET_PROJECT=
API_RECO_TOKEN_SECRET_NAME=
