SQL_HOST=
SQL_PORT=
SQL_BASE=
SQL_BASE_USER=
SQL_BASE_PASSWORD=

GCP_PROJECT=
VERTEX_RETRIEVAL_ENDPOINT_NAME=
VERTEX_RANKING_ENDPOINT_NAME=

FASTAPI_SERVER_PORT=

LOGS_PRETTY_PRINT=1
SWAGGER_UI_EXAMPLE_USER_ID=
