name: Code Review GPT


on:
  issue_comment:
      types: [created]
jobs:
  run_code_review:
    runs-on: ubuntu-latest
    if: github.event.comment.body == '/gpt-check'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Code Review GPT
        uses: mattzcarey/code-review-gpt@v0.1.10
        with:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          MODEL: 'gpt-4o'
          GITHUB_TOKEN: ${{ github.token }}
