name: "API Reco Test Integration"

run-name: "[${{ github.event.inputs.TARGET_ENV }}] API-Reco Test Integration"

on:
  workflow_call:
    inputs:
      TARGET_ENV:
        type: string
        required: true
    secrets:
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER:
        required: true
      GCP_EHP_SERVICE_ACCOUNT:
        required: true

env:
  DATA_GCP_PROJECT: ${{ vars.DATA_GCP_PROJECT }}
  API_LOCAL: 1
  API_RECO_SECRET_NAME: ${{ vars.API_RECO_SECRET_NAME }}

jobs:
  tests-integration-api-reco:
    name: "[ ${{ inputs.TARGET_ENV }} ] Tests Integration sur l'API RECO"
    runs-on: ubuntu-latest
    environment: ${{ inputs.TARGET_ENV }}
    permissions:
      contents: 'write'
      id-token: 'write'
    container: postman/newman:5.3
    defaults:
     run: 
       working-directory: "apps/recommendation/api/postman"
    steps:
      - uses: actions/checkout@v4
      - name: "Connect to Secret Manager"
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      - name: "Get secrets for Slack"
        id: 'secrets'
        uses: 'google-github-actions/get-secretmanager-secrets@v2'
        with:
          secrets: |-
            SLACK_BOT_TOKEN:passculture-metier-ehp/passculture-ci-slack-bot-token
            ARTIFACT_REGISTRY_SERVICE_ACCOUNT:passculture-metier-ehp/passculture-main-artifact-registry-service-account
            ARTIFACT_REGISTRY_WORKLOAD_IDENTITY_PROVIDER:infra-prod-gcp-workload-identity-provider
            API_RECO_TOKEN:${{ env.DATA_GCP_PROJECT }}/${{ env.API_RECO_SECRET_NAME }}
      - id: openid-auth
        name: "Authenticate with Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: ${{ steps.secrets.outputs.ARTIFACT_REGISTRY_SERVICE_ACCOUNT }}
          service_account: ${{ steps.secrets.outputs.ARTIFACT_REGISTRY_WORKLOAD_IDENTITY_PROVIDER }}
      - name: "Run tests collection"
        run: |
          newman run api_integration_tests.postman_collection.json \
            --environment ${{ inputs.TARGET_ENV }}.postman_environment.json \
            --env-var "api_token=${{ steps.secrets.outputs.API_RECO_TOKEN }}"
      - name: "Post to a Slack channel"
        if: failure()
        uses: slackapi/slack-github-action@v1.23.0
        with:
          channel-id: "C01GVAXM02W" # alerts_data
          payload: |
            {
              "attachments": [
                  {
                    "mrkdwn_in": ["text"],
                    "color": "#A30002",
                    "author_name": "${{github.actor}}",
                    "author_link": "https://github.com/${{github.actor}}",
                    "author_icon": "https://github.com/${{github.actor}}.png",
                    "title": "API Reco Integration Test on ${{ inputs.TARGET_ENV }}",
                    "title_link": "https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}",
                    "text": "Test Integration on ${{ inputs.TARGET_ENV }} is failed :boom:"
                  }
              ],
              "unfurl_links": false,
              "unfurl_media": false
            }
        env:
          SLACK_BOT_TOKEN: ${{ steps.secrets.outputs.SLACK_BOT_TOKEN }}
